<!DOCTYPE html>
<html>

<link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet'>

<head>
    <link rel="icon" href="https://upload.wikimedia.org/wikipedia/commons/thumb/8/84/Escudo_de_la_Pontificia_Universidad_Cat%C3%B3lica_de_Chile.svg/200px-Escudo_de_la_Pontificia_Universidad_Cat%C3%B3lica_de_Chile.svg.png">
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Info</title>
</head>

<link rel="stylesheet" href="../styles/info.css">

<body>

    <div class="header">
        <a href="../index.html">Inicio</a>
        <a href="futbol.html">Futbol</a>
        <a href="tenis.html">Tenis</a>
        <a href="info.html">Info</a>
    </div>


    <div class="titulo">
        <div class="titulo1">
            PROYECTO
        </div>
        <br>
        <div class="titulo2">
            GRUPO 68
        </div>
    </div>
    
    <br><br>

    <div class="uc">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/84/Escudo_de_la_Pontificia_Universidad_Cat%C3%B3lica_de_Chile.svg/200px-Escudo_de_la_Pontificia_Universidad_Cat%C3%B3lica_de_Chile.svg.png" alt="Campo" style="width: 4vw; height: 4vw;">
    </div>

    <div class="texto2">
        <div class="textoGrande">Rangos De Inputs</div>
        <li>Velocidad Inicial (0-1000) m/s</li>
        <li>Velocidad Angular (0-100) rad/s</li>
        <li>Phi (0-360)°</li>
        <li>Theta (0-360)°</li>
    </div>

    <div class="miembros">
        <div class="textoGrande">Miembros Del Grupo</div>

        <li>Vicente Espinosa</li>
        <li>Milan Vrsalovic
        <li>Gullermo Murillo</li>
        <li>Cristobal Zuñiga</li>
    </div>

    <div class="imagen">
        <img src="../img/tenis.png" alt="Imagen" style="width: 8vw; height: 8vw;">
    </div>

    <div class="texto3">
        <div class="textoGrande">Parametros Fútbol</div>
        <li>Masa balon: 0.45kg</li>
        <li>Diametro balon: 0.22m</li>
        <li>Area balon: 0.039 m^2</li>
        <li>Distancia arco: 11m</li>
        <li>Ancho arco: 7.32m</li>
        <li>Alto arco: 2.44m</li>
    </div>

    <div class="imagen2">
        <img src="../img/futbol.png" alt="Imagen" style="width: 8vw; height: 8vw;">
    </div>


    <div class="texto4">
        <div class="textoGrande">Parametros Tenis</div>
        <li>Masa balon: 0.0577kg</li>
        <li>Diametro balon: 0.067m</li>
        <li>Area balon: 0.0141 m^2</li>
        <li>Largo cancha: 23.78m</li>
        <li>Ancho cancha: 8.23m</li>
        <li>Alto malla: 1.07m</li>
    </div>

    <div class="titulo3">PRINCIPALES FORMULAS</div>

        <div class="imagen3">
            <img src="../img/formulas.png" alt="Imagen" style="width: 20vw; height: 10vw;">
        </div>

        <div class="imagen4">
            <img src="../img/formula2.png" alt="Imagen" style="width: 25vw; height: 20vw;">
        </div>

</body>

</html>