@font-face {
    font-family: 'Open Sans Light';
    font-style: normal;
    font-weight: 300;
    src:url(https://fonts.gstatic.com/s/opensans/v13/DXI1ORHCpsQm3Vp6mXoaTRa1RVmPjeKy21_GQJaLlJI.woff) format('woff');
 }

html {
    font-family: 'Open Sans Light';
}


body {
    background-color: #4678BB;
}

a {
    color: white;
    text-align: center;
    padding: auto;
    text-decoration: none;
    font-size: 1.3vw;
    line-height: 500%;
    border-radius: 4px;
    margin: 9%;
}

.header {
    margin-left: 2%;
}

.titulo {
    font-family: 'Oswald';
    margin-left: 5%;
}

.titulo1 {
    font-size: 2.7vw;
    background-color: #FFD902;
    padding: 2% 5%;
    height: 20%;
    width: 25%;
    text-align: center;
    color: #4678BB;
    font-family: Oswald;
}

.titulo2 {
    font-size: 1.5vw;
    background-color: #FFD902;
    padding: 2% 5%;
    height: 20%;
    width: 14%;
    text-align: center;
    color: #4678BB;
    margin-left: 4%;
}

.texto {
    color: white;
    text-align: center;
    font-size: 1.5vw;
    border-color: #FFD902;
    border: 0.6vw solid #FFD902;
    width: 40%;
    padding: 0.5%;
    position: absolute;
    top: 30%;
    left: 45%;
    line-height: 2.5vw;
}

.imagen {
    margin-left: 4%;
}

.uc {
    position: absolute;
    top: 2%;
    left: 90%;
}