@font-face {
    font-family: 'Open Sans Light';
    font-style: normal;
    font-weight: 300;
    src:url(https://fonts.gstatic.com/s/opensans/v13/DXI1ORHCpsQm3Vp6mXoaTRa1RVmPjeKy21_GQJaLlJI.woff) format('woff');
 }

html {
    font-family: 'Open Sans Light';
}


body {
    background-color: #4678BB;
}

a {
    color: white;
    text-align: center;
    padding: auto;
    text-decoration: none;
    font-size: 1.3vw;
    line-height: 500%;
    border-radius: 4px;
    margin: 9%;
}

.header {
    margin-left: 2%;
}

.titulo {
    font-family: 'Oswald';
    margin-left: 30%;
}

.titulo1 {
    font-size: 2.7vw;
    background-color: #FFD902;
    padding: 2% 5%;
    height: 20%;
    width: 25%;
    text-align: center;
    color: #4678BB;
    font-family: Oswald;
}


.texto {
    color: white;
    text-align: center;
    font-size: 1.5vw;
    border-color: #FFD902;
    border: 0.6vw solid #FFD902;
    width: 40%;
    padding: 0.5%;
    position: absolute;
    top: 30%;
    left: 55%;
    line-height: 2.5vw;
}

.imagen {
    margin-left: 25%;
    margin-top: -10%;
}

.uc {
    position: absolute;
    top: 2%;
    left: 90%;
}

.form {
    display: inline;
}

.label {
    color: white;
    margin-top: 1%;
    position: relative;
    margin-top: -17%;
    width: 12%;
    margin-left: 2%;
    font-size: 0.9vw;
}

p {
    margin-top: 23%;
}

.input {
    margin-left: 15%;
}

input {
    display: list-item;
    margin-top: 2%;
    width: 12%;
    height: 30px;
}

button {
    margin-left: 10%;
    margin-top: 2%;
    padding: 0.6%;
    background-color: #FFD902;
    color: #4678BB;
    border: none;
    cursor: pointer;  
    text-align: center;
    border-radius: 4px;
}

.plano {
    margin-left: 30%;
    margin-top: -20%;
    width: 18.2%;
    border: 0.4vw solid;
    border-color: #FFD902;
}
